<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Importador</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %} 
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"> 
                <div class="card">
                        <div class="card-header">
                            <h1>Editar Importador: {{ object.nombre }}</h1>
                            <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Guardar Cambios</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </header>     
    {% endblock %}
</body>
</html>