<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Contraseña</title>
</head>
<body>
{% extends "app/padre.html" %}

{% load static %}

{% block title %} Editar contraseña {% endblock title %}

{% block contenidoQueCambia %}
<!-- Masthead--> 
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"> 
            <div class="card">
                <div class="card-header">
                    {# Este div sólo está agregado para centrar el formulario en la página usando Bootstrap #}
                    <div class="d-flex justify-content-center">

                        <form action="" method="POST">
                            {% csrf_token %}

                            <table>
                                {{ form.as_table }}
                            </table>

                            <input type="submit" value="Cambiar pass">

                        </form>
                    </div>
                </div>
                </div> 
            </div>    
        </div> 
</header>
{% endblock %}
</body>
</html>