<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% load static %}
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{% block title %} Index {% endblock title %}</title>

        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'app/css/styles.css' %}" rel="stylesheet" />
         <style>
            #mainNav {
                background-color: rgba(145, 139, 139, 0.1);
                backdrop-filter: blur(5px);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            }
        </style>

    </head>
    <body id="page-top">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand" href="#">Proyecto Final</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Datos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'expoLista' %}">Exportador</a>
                            <a class="dropdown-item" href="{% url 'impoLista' %}">Importador</a>
                            <a class="dropdown-item" href="{% url 'mercaLista' %}">Mercadería</a>
                            <a class="dropdown-item" href="{% url 'operaLista' %}">Operación</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Búsqueda 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'BusquedaExportador' %}">Buscar Exportador</a>
                            <a class="dropdown-item" href="{% url 'BusquedaImportador' %}">Buscar Importador</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Acerca de mi</a></li>
                    
                    {# DROPDOWN PARA LA CUENTA DE USUARIO #}
                    {% if request.user.is_authenticated %}
                        <img src="{{request.user.imagen.imagen.url}}" alt="" style="height: 50px; width: 50px;">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user.username }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'EditarPerfil' %}">Editar cuenta</a></li>
                                <li><a class="dropdown-item" href="{% url 'Logout' %}">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    
                    {% else %}

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Cuenta
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'Login' %}">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="{% url 'Register' %}">Crear cuenta</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block contenidoQueCambia %} 
    {% endblock %} 

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Servicios de Comercio Exterior</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Tu socio estratégico para tus operaciones de comercio exterior. Te ayudamos a alcanzar tus objetivos comerciales</p>
                    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>
    
    {% block main %}
    {% endblock main %}

    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 - Company Name</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'app/js/scripts.js' %}"></script>
    
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
