<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Resultados de la búsqueda:</p>

    {% if exportador %}
    <ul>
        {% for nombre in exportador %}
          <li>{{ nombre.nombre }}</li>
          <li>{{ nombre.domicilio }}</li>
          <li>{{ nombre.email }}</li>
          <li>{{ nombre.cuit }}</li>
        {% endfor %}
    </ul>
    {% else %} 
        <p>No existe el exportador: {{ nombre }}</p>
    {% endif %}



</body>
</html>