<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Exportador</title>
    <style>
        .mi-lista {
          text-align: left;
        }
        .contenedor {
            display: flex;
            flex-direction: column;
            gap: 50px; /* Ajusta el valor según tu preferencia */
        }   
     </style>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %} 
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"> 
                <div class="card"> 
                    <h1 class="text-center">Exportadores</h1>
                    <div class="card-body"> 
                    <h2>¿Estás seguro de eliminar este exportador?</h2>
                    <p>{{ object }}</p>
                    <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Eliminar">
                    </form>
                </div> 
            </div>
        </div>
    </header>
    {% endblock %}
</body>
</html>  
                        